<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="viewAll" class="page-header">
                <br>
                <h1>
                    View All Store
                </h1>
                <div class="container">

                    <div class="row">
                        {% for store in stores %}
                        <div class="col-sm-4 col-md-2">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ store.name }}</h3>
                                </div>
                                <button type="button" class="stock">
                                    <img src='{{ asset(store.picture) }}' width="145" height="145" >
                                </button>
                                {% if user.isSuperUser %}
                                <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                <button type="button" onclick='click_with_id("{{ path('sh_store_delete') }}","{{ store.id }}")' class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>