blockquote.style1 {
    font: 14px/20px italic Times, serif;
    padding: 8px;
    border: 1px solid #e1cc89;
    margin: 5px;
    background-image: url(../images/openquote1.gif);
    background-position: top left;
    background-repeat: no-repeat;
    text-indent: 23px;
}
blockquote.style1 span {
    display: block;
    background-image: url(../images/closequote1.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
}
