<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="c-est-quoi" class="page-header">
                <br>
                <h1>StockHaven<br>
                    <small>Gestion de Stock avec douchette</small>
                </h1>
                <small>
                    Le projet portera sur la gestion de stock via code-barres.<br>
                    Chaque code-barres correspondra à un article précis.<br>
                    Le programme permettra de faire plusieurs opérations sur <br>
                    la base de données telle que rajouter un élément déjà existant,<br>
                    de le supprimer ou le modifier.<br>
                    Le programme permettra aussi de fournir un document récapitulant les stocks à une date définie.<br>
                </small>
            </div>
        </div>
    </div>
</div>