{# HERE FILL WITH demo #}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="final">
                <br>
                <h1><span class="pointillé">Fonctionnalité finale attendue</span></h1>
                <p>
                -	Générer à partir d’un stock, un document imprimable et/ou facilement consultable<br>
                (par exemple sur smartphone)<br>
                -	L’application sera portée à terme sur pc, smartphone et raspberry pi<br>
                </p>
            </div>
        </div>
    </div>
</div>

