{# HERE FILL WITH demo #}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="fonctionalite">
                <br>
                <h1><span class="pointillé">Fonctionnalités attendues</span></h1>
                <p>
                A. Gestion des utilisateurs :<br>
                <br>
                - 	Trois types d’utilisateurs :<br>
                <br>
                    •	Utilisateur principal (utilisateur gérant toute l’application)<br>
                    •	Utilisateur normal (utilisateur ne pouvant pas crée de stock à utilisateur multiple)<br>
                    •	Invités (utilisateur ne pouvant que gérer les stocks de l’utilisateur associé<br>
                <br>
                - 	Description :<br>
                <br>
                    •	Nom, prénom<br>
                    •	Login/mot de passe (sans mot de passe pour l’invité)<br>
                <br>
                B. Pour les Utilisateurs principaux, gestion :<br>
                <br>
                -	Stock personnelles<br>
                -	Stock à utilisateur multiple<br>
                -	Article<br>
                -	Gestion des invités<br>
                -	Gestion des Stock de tous les utilisateurs<br>
                <br>
                C. Pour les Utilisateurs normaux, gestion :<br>
                <br>
                -	Stock personnelles<br>
                -	Article<br>
                -	Accès au stock d’utilisateur multiple<br>
                -	Gestion des invités personnels<br>
                <br>
                D. Pour les invités, gestion :<br>
                <br>
                -	Accès au stock de l’utilisateur associé<br>
                -	Article<br>
                </p>
            </div>
        </div>
    </div>
</div>

