{# HERE FILL WITH demo #}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="information">
                <br>
                <h1><span class="pointillé">Information générale sur les articles scannés </span></h1>
                <p>
                -	Nom de l’article<br>
                -	Type d’article<br>
                -	Quantité<br>
                -	Valeur du code-barres<br>
                </p>
            </div>
        </div>
    </div>
</div>

