{# HERE FILL WITH demo #}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="infoStock">
                <br>
                <h1><span class="pointillé">Information sur les stocks </span></h1>
                <p>
                -	Nom du Stock<br>
                -	Utilisateur(s) du stock<br>
                -	Date Modification<br>
                </p>
            </div>
        </div>
    </div>
</div>

