{# HERE FILL WITH demo #}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="materiel">
                <br>
                <h1><span class="pointillé">Matériels utilisés</span></h1>
                <p>
                -	Douchette (Scanneur de code-barres) <br>
                -	Raspberry pi Model B+(ou pi 2)<br>
                -	Câble OTG pour le smartphone<br>
                </p>
            </div>
        </div>
    </div>
</div>

