{# HERE FILL WITH demo #}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="operation">
                <br>
                <h1><span class="pointillé">20 dernières opérations enregistrées</span></h1>
                <p>
                -	Stock<br>
                -	Article modifié<br>
                -	Date modification<br>
                -	Heure modification<br>
                -	Opération réalisé<br>
                -	Utilisateur de la modification<br>
                </p>
            </div>
        </div>
    </div>
</div>

