{# HERE FILL WITH demo #}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="user">
                <br>
                <h1><span class="pointillé">Ce qui est disponible pour un utilisateur  </span></h1>
                <p>
                A. Utilisateur en générale<br>
                <br>
                -	Peut gérer les articles<br>
                -	Peut gérer ses stocks personnels<br>
                -	Peut créer plusieurs stocks<br>
                -	Peut utiliser les stocks à utilisateur multiple<br>
                <br>
                B. Utilisateur principal<br>
                <br>
                -   Peut créer les stocks à utilisateur multiple<br>
                </p>
            </div>
        </div>
    </div>
</div>

