<li id="li-dashboard" class="active">
    <a href="#" onclick="get_part_html_put_content(null,'{{ path_ajax }}/dashboard','content-content-lte')">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
</li>