<li id="li-notification" class="active">
    <a href="#" onclick="get_part_html_put_content(null,'{{ path_ajax }}/notif','content-content-lte')">
        <i class="fa fa-bell"></i> <span>Notification</span>
    </a>
</li>