<li class="treeview">
    <a href="#">
        <i class="fa fa-bell" aria-hidden="true"></i>
        <span>Notification</span><i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <ul class="treeview-menu">
            <li><a href="#add"><i class="fa fa-flag-o" aria-hidden="true"></i>Add</a></li>
            <li><a href="#delete"><i class="fa fa-flag-o" aria-hidden="true"></i> Delete</a></li>
            <li><a href="#update"><i class="fa fa-flag-o" aria-hidden="true"></i> Update</a></li>
            <li><a href="#viewAll"><i class="fa fa-flag-o" aria-hidden="true"></i> View All</a></li>
        </ul>
        </li>
    </ul>
</li>