<li class="treeview">
    <a href="#">
        <i class="fa fa-folder-open" aria-hidden="true"></i>
        <span>Projects</span><i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        {# StockHaven #}
        <li id="li-stockhaven">
            <a href="#" onclick="get_part_html_put_content('li-stockhaven','{{ path_ajax }}/projects/StockHaven','content-content-lte')">
                <i class="fa fa-gavel" aria-hidden="true"></i>StockHaven<i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="#c-est-quoi"><i class="fa fa-flag-o" aria-hidden="true"></i> C'est quoi?</a></li>
                <li><a href="#materiel"><i class="fa fa-flag-o" aria-hidden="true"></i> Matériel</a></li>
                <li><a href="#information"><i class="fa fa-flag-o" aria-hidden="true"></i>Information</a></li>
                <li><a href="#infoStock"><i class="fa fa-flag-o" aria-hidden="true"></i>Information Stock</a></li>
                <li><a href="#operation"><i class="fa fa-flag-o" aria-hidden="true"></i>Operation</a></li>
                <li><a href="#fonctionalite"><i class="fa fa-flag-o" aria-hidden="true"></i>Fonctionnalité</a></li>
                <li><a href="#final"><i class="fa fa-flag-o" aria-hidden="true"></i>Final</a></li>
            </ul>
        </li>
    </ul>
</li>