{% if user.isSuperUser %}
<li class="treeview">
    <a href="#" onclick="get_part_html_put_content('li-store','{{ path('sh_type') }}','content-content-lte')">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        <span>Type</span><i class="fa fa-angle-left pull-right"></i>
    </a>


    <ul class="treeview-menu" id="li-store">
        <li><a href="#create" ><i class="fa fa-plus" aria-hidden="true"></i> Create</a></li>
        <li><a href="#viewAll" ><i class="fa fa-object-group" aria-hidden="true"></i> View All</a></li>
    </ul>
</li>
{% endif %}