<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="create" class="page-header">
                <br>
                <h1>Edit a Stock<br>
                </h1>
                <div class="box box-primary">
                    <div class="box-header with-border">
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form id="form" action="#" >
                        <div class="box-body" >
                            <div class="form-group">
                                <input type="number" name="stock_id" value="{{ stock.id }}" hidden>
                                <label for="Name">Name Stock*</label>
                                <input type="text" class="form-control" name="name" value="{{ stock.name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="Barcode">Barcode*(fill last)</label>
                                <input type="text" class="form-control" name="barcode" value="{{ stock.barcodeId.barcode }}" required>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" style="background-color: #605ca8;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#form').submit(function(e) {
        e.preventDefault();
        post_form('{{ path('sh_stock_edit') }}',$(this).serialize());
    });
</script>