<ul class="sidebar-menu">
    <li class="header"></li>
    {% include "@StockHaven/site-main/main-sidebar/menu/dashboard.twig" %}
    {% include "@StockHaven/site-main/main-sidebar/menu/projects.twig" %}
    {% include "@StockHaven/site-main/main-sidebar/menu/stock.twig" %}
    {% include "@StockHaven/site-main/main-sidebar/menu/store.twig" %}
    {% include "@StockHaven/site-main/main-sidebar/menu/item.twig" %}
    {% include "@StockHaven/site-main/main-sidebar/menu/type.twig" %}
    {% include "@StockHaven/site-main/main-sidebar/menu/notification.twig" %}
</ul>