<div class="user-panel">
    <div class="pull-left icon" >
        <span class="fa fa-user" style="color: white;margin: 75%"></span>
    </div>
    <div class="pull-left info">
        <span id="admin-name" style="color: white;">{{ user.fullName }}</span>
    </div>
    <div class="col-xs-12">
        <!-- sidebar-form -->
        <form action="#" id="search"  class="sidebar-form">
            <div class="input-group">
                <input type="text" id="q" name="elem" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="buttonS" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<script>
    $('#search').submit(function(e) {
        e.preventDefault();
        post_form('{{ path('sh_search') }}',$(this).serialize());
        document.getElementById('q').reset();
    });

</script>
