<div id="wrapper-stockhaven">
    {% include "@StockHaven/site-part/projects/StockHaven/part/c-est-quoi.twig" %}
    {% include "@StockHaven/site-part/projects/StockHaven/part/materiel.twig" %}
    {% include "@StockHaven/site-part/projects/StockHaven/part/information.twig" %}
    {% include "@StockHaven/site-part/projects/StockHaven/part/infoStock.twig" %}
    {% include "@StockHaven/site-part/projects/StockHaven/part/operation.twig" %}
    {% include "@StockHaven/site-part/projects/StockHaven/part/user.twig" %}
    {% include "@StockHaven/site-part/projects/StockHaven/part/fonctionalite.twig" %}
    {% include "@StockHaven/site-part/projects/StockHaven/part/final.twig" %}
</div>